.button {
  width: 100%;
  font-size: 1rem;
  padding: 0.75rem;
  color: var(--white);
  border-radius: 0.75rem;
  background: var(--orange-light);
  transition: background 0.2s ease 0s;
  &:hover,
  &:focus {
    outline: none;
    background: var(--orange);
  }
  &:disabled {
    opacity: 0.5;
    cursor: wait;
  }
}
